In [7]:
import pandas as pd

In [9]:
df = pd.read_excel(r'C:\Users\Sujal Amit Kadam\Downloads\Online Retail Data Set.xlsx')

In [11]:
# Display the first few rows of the DataFrame
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [17]:
import pandas as pd

# Load the Excel file into a DataFrame
df = pd.read_excel(r'C:\Users\Sujal Amit Kadam\Downloads\Online Retail Data Set.xlsx')

# Data Cleanup
# Remove rows with negative quantities
df = df[df['Quantity'] > 0]

# Remove rows with unit price below $0
df = df[df['UnitPrice'] > 0]

# Optionally, you can inspect the cleaned DataFrame
print(df.head())

# Optionally, you can export the cleaned DataFrame to a new Excel file
# df.to_excel('cleaned_data.xlsx', index=False)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [18]:
# Check minimum quantity
min_quantity = df['Quantity'].min()
print("Minimum Quantity:", min_quantity)

# Check minimum unit price
min_unit_price = df['UnitPrice'].min()
print("Minimum Unit Price:", min_unit_price)

Minimum Quantity: 1
Minimum Unit Price: 0.0

In [19]:
# Save the cleaned DataFrame to a new Excel file
df.to_excel('cleaned_online_data.xlsx', index=False)

In [20]:
import os
print("Current Working Directory:", os.getcwd())

Current Working Directory: C:\Users\Sujal Amit Kadam